*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nav-bar{
    width: 100%;
    height: 10vh;
    background-color: red;
    position: fixed;
    padding: 1.5rem 1rem 1rem 1.5rem;
    z-index: 1;
}

.db-logo{
    float: left;
    
}

.nav-left{
    float: left;
}


.nav-text > a{
    padding: 0rem 2.2rem 2rem 3rem;
    text-decoration: none; 
    color: black;
    vertical-align: middle;
}

.nav-right{
    float: right;
}

.nav-btn{
    float: right;
}

.nav-btn > a{
    text-decoration: none;
    color: white;
    background-color: blue;
    font-size: 12px;
    padding: 0.7rem 1.7rem;
}

/*Fine Nav-bar css */

/* Inizio jumbo section css */

.jumbo-section{
    height: 90vh;
    background-color: rgb(180 208 231);
    position: relative;
}

.jumbo-section-container{
    width: 80%;
    height: 100%;
    background-color: violet;
    margin: auto;
    position: relative;
}

.jumbo-title{
    position: relative;
    width: 100%;
    height: 40%;
    background-color: tomato;
    margin: auto;
}

.jumbo-title > h1{
    font-size: 80px;
    font-weight: bold;
    padding-top: 6rem;
}

.jumbo-paragraph{
    position: relative;
    padding-top: 2rem;
    width: 30%;
    height: 35%;
    background-color: blueviolet;    
}

.jumbo-paragraph > p{
    font-size: 16px;
    line-height: 1.3rem;
}

.btn-jumbo{
    position: absolute;
    bottom: 10%;

}

.btn-jumbo > a{
    text-decoration: none;
    color: white;
    background-color: blue;
    font-size: 14px;
    font-weight: 800;
    padding: 1rem 1rem 1rem 1rem;
    vertical-align: middle;
    margin-top: 3rem;
}

.annulla-p{
    margin-top: 0.7rem;
}

.download-arrow{
    font-size: 26px;
    margin-top: 1.5rem;
}

.jumbo-img > img{
    width: 60%;
    height: 65%;
    position: absolute;
    bottom: -70px;
    right: 5%;
}

.plan-section{
    height: 100vh;
    position: relative;
    background-color: green;
}

.plan-section-container{
    height: 100%;
    width: 70%;
    background-color: hotpink;
    margin: auto;
}

.look-for-plan-title > h2{
    padding-top: 6rem;
    font-size: 30px;
}

.month-year-checkbox{
    margin-top: 4rem;
}

.month-year-checkbox > label{
    
    margin-right: 1rem;
}

.month-year-checkbox > input{
    vertical-align: middle; 
}
